
.intro .intro-img-container {
    height: 50rem;
    z-index: 0;
    position: relative;
}

.intro .intro-img-container img {
    position: absolute;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    opacity: 0.4;
}


.intro .title-container {
    display: flex;
    font-family: 'Hepta Slab', serif;
    padding-left: 5rem; 
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.intro .title-container .text-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.intro .title-container .text-container h2 {
    font-size: 4rem;
    padding: 3% 0 0 3%;
}

.intro .title-container .text-container h3 {
    font-size: 1.5rem;
    padding: 3% 0 3% 0;
}


.intro .title-container h1 {
    font-size: 8rem;
}

.intro .intro-img-container .flex-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 20%;
    height: fit-content;
    bottom: 0;
    right: 10%;
}

.intro .intro-img-container .flex-container .img-one {
    position: relative;
    display: flex;
    justify-content: space-around;
    min-width: fit-content;
}

.intro .intro-img-container .flex-container .img-one img {
    position: relative;
    opacity: 1;
    width: 100%;
    height: auto;
    border: 0.5rem dashed white;
}

.relavent-info {
    background-color: rgb(32, 32, 32);
    color: rgb(240, 240, 240);
}

.relavent-info ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.relavent-info ul li {
    list-style-type: none;
    margin: 4rem 0;
    width: 50%;
    border: 0.1875rem solid rgb(240, 240, 240);
    border-radius: 0.3125rem;
    padding: 0.625rem;

}

.relavent-info ul li h3 {
    text-align: center;
    font-family: 'Hepta Slab', serif;
    font-size: 3.5rem;
}

.relavent-info ul li p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-align: center;
}

/* MEDIA QUERIES */

/* Mobile devices */
@media (max-width: 767px) {
    main {
        min-height: calc(100vh);
        background-color: rgb(32, 32, 32);
    }

    main .intro {
        background-color: white;
    }

    .intro .title-container .text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .intro .title-container .text-container h2 {
        padding: 0;
    }
    
    .intro .title-container .text-container h3 {
        padding: 0
    }

    .intro .title-container h1 {
        font-size: 6rem;
    }

    .intro .intro-img-container .flex-container {
        top: 40%;
        right: 1rem;
        width: 25%;
    }

    .relavent-info ul li h3 {
        font-size: 2.6rem;
    }
}

/* Large computer screens */
@media screen and (min-width: 1920px) {
    .intro .intro-img-container {
        width: 100vw;
    }

    .intro .intro-img-container img {
        width: 100%;
    }

    .intro .title-container .text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
