.nav-bar {
    display: flex;
    background-color: rgb(49, 54, 57);
    color: rgb(250, 249, 246);
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    height: 4rem;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a:link,
a:visited, a:active {
    color: rgb(250, 249, 246);
}

.nav-bar a:hover {
    color: rgb(45, 127, 215);
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}